results/
vis_res/
badcase/
*.jpg
*.txt
*.csv
*.xlsx

evaluation_relaxation/__pycache__/__init__.cpython-38.pyc
evaluation_relaxation/__pycache__/phoenix_eval.cpython-38.pyc
__pycache__/base.cpython-38.pyc
__pycache__/managers.cpython-38.pyc
__pycache__/model.cpython-38.pyc
__pycache__/semi.cpython-38.pyc
hrnet/__pycache__/__init__.cpython-38.pyc
hrnet/__pycache__/default_cfg.cpython-38.pyc
hrnet/__pycache__/pose_hrnet.cpython-38.pyc
modules/__pycache__/__init__.cpython-38.pyc
modules/__pycache__/aligner.cpython-38.pyc
modules/__pycache__/cbam.cpython-38.pyc
modules/__pycache__/cnn.cpython-38.pyc
modules/__pycache__/coord_att.cpython-38.pyc
modules/__pycache__/criterion.cpython-38.pyc
modules/__pycache__/ctc_ent.cpython-38.pyc
modules/__pycache__/dcn.cpython-38.pyc
modules/__pycache__/dual.cpython-38.pyc
modules/__pycache__/googlenet.cpython-38.pyc
modules/__pycache__/m_ctc.cpython-38.pyc
modules/__pycache__/nets.cpython-38.pyc
modules/__pycache__/resnet.cpython-38.pyc
modules/__pycache__/se.cpython-38.pyc
modules/__pycache__/searcher.cpython-38.pyc
modules/__pycache__/sgs.cpython-38.pyc
modules/__pycache__/tcn.cpython-38.pyc
modules/__pycache__/vgg.cpython-38.pyc
phoenix_datasets/__pycache__/__init__.cpython-38.pyc
phoenix_datasets/__pycache__/corpora.cpython-38.pyc
phoenix_datasets/__pycache__/datasets.cpython-38.pyc
phoenix_datasets/__pycache__/utils.cpython-38.pyc
tfmer/__pycache__/__init__.cpython-38.pyc
tfmer/__pycache__/embeddings.cpython-38.pyc
tfmer/__pycache__/encoders.cpython-38.pyc
tfmer/__pycache__/transformer_layers.cpython-38.pyc
utils/__pycache__/figure.cpython-38.pyc
utils/__pycache__/metric.cpython-38.pyc
utils/__pycache__/utils.cpython-38.pyc
vis/__pycache__/__init__.cpython-38.pyc
vis/__pycache__/activations_and_gradients.cpython-38.pyc
vis/__pycache__/gradcam.cpython-38.pyc
vis/__pycache__/image.cpython-38.pyc
