sympy==1.6.1
opencv_contrib_python==4.5.4.60
numpy==1.22.3
scipy==1.5.0
ctcdecode==1.0.3
matplotlib==3.4.2
torchvision==0.8.0
mmcv_full==1.4.8
pandarallel==1.5.1
seaborn==0.11.2
tqdm==4.47.0
yacs==0.1.8
arpa==0.1.0b4
pandas==1.0.5
pathos==0.2.7
torch==1.7.0
jiwer==3.0.3
mmcv==2.1.0
Pillow==10.2.0
PyYAML==6.0.1
